/* Tailwind + Font Setup */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

/* Active NavLink Styling */
.active {
  background-color: #ffebf5;
  border-color: #c586a5;
  border: 1px solid;
}
